<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]--><head>
<title>Yappie. Whats Yappening</title>
 <!-- Basic Page Needs
  ================================================== -->
        <meta charset="utf-8">
       
        <meta name="description" content="A new social network coming soon. Sign up for launch notification.">
        <meta name="author" content="">
		
<meta property="og:title" content="Yappie" />
<meta property="og:description" content="A new social network coming soon. Sign up for launch notification." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://yappie.com/" />
<meta property="og:image" content="http://yappie.com/images/logo2.jpg" />
<meta property="og:site_name" content="Yappie" />
<meta property="fb:app_id" content="148905645271984" />

        <!-- Mobile Specific Metas
  ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
  ================================================== -->
        <link rel="stylesheet" href="stylesheets/base.css">
        <link rel="stylesheet" href="stylesheets/skeleton.css">
        <link rel="stylesheet" href="stylesheets/layout.css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">

        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <script src="javascripts/scripts.js"></script>
        <script src="javascripts/autocomplete.js"></script>
        <script src="javascripts/prettyCheckbox.js"></script>
        <script src="javascripts/jquery.zlayer.min.js"></script>
		<script src="javascripts/validation.js"></script>
        <script src="javascripts/fileinput.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#phones img').zlayer( { mass: 40, canvas: window, force: 'pull'  });	  	  
                $('#iphone').zlayer( { mass: 40, canvas: window, force: 'pull'  });
            });
        </script>

        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="images/favicon.ico">
		
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39490990-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script></head>
<body>
<header>
<div class="container">
<h1><a href="/"><img src="images/logo.png" alt="Yappie"></a></h1>
<div id="follows">
<a href="http://yappie.com/sign_up.php"><img src="images/icon-yappie.png" alt="fb"></a>
<a href="https://www.facebook.com/WhatsYappening"><img src="images/icon-fb.png" alt="fb"></a>
<a href="https://twitter.com/WhatsYappening"><img src="images/icon-twitter.png" alt="fb"></a>
<p>Follow us</p>
</div>
<div id="shares">
<p>Tell your friends</p>
<div id="share-buttons">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="http://yappie.com/"></a>
<a class="addthis_button_tweet"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-512f10aa04b4d613"></script>
<!-- AddThis Button END -->
</div>
</div>
</div>
</header>
        <div class="container">
            <div id="content" class="first">
                <img src="images/coming-soon.png" alt="cs" id="coming-soon">
                <p id="sign-text">Sign up now to secure your @username...</p>
				<img src="images/arrow.png" alt="arrow" id="arrow">
                <a href="sign_up.php" id="sign-button">sign up</a>
                <img src="images/apps.png" alt="apps" id="apps">
            </div>
            <div id="phones">
                <img src="images/phones.png" alt="phones">
            </div>
        </div>

<footer>
<div class="container">
<div class="holder">
<p>&copy; Yappie 2013. All right reserved.</p>
<a href="http://www.netdreams.co.uk" target="_blank">ID Studio Web Agency</a>
</div>
</div>
</footer>
</body>
</html>